/* 레이아웃 */
#header{
    background: url("../img/header_bg.jpg") repeat-x center top;
}
#nav{
    background-color: #f6fdff;
}
#title{
    background-color: #eaf7fd;
}

/* 컨테이너 */
.container{
    width: 1200px;
    margin: 0 auto;
}

header .container{
    background-color: rgba(0,0,0,0.3);
}

/* 헤더 */
.header{
    height: 327px;
}
.header-menu{
    text-align: right;
}
.header-menu a{
    font-family: 'Abel', sans-serif;
    color: #FFF;
    padding: 8px 0 6px 10px;
    display: inline-block;

    /* css가 변경되는 속도 조절(천천히/부드럽게 변하도록 설정) */
    transition: color .3s ease;
}
.header-menu a:hover{
    color: #CCC;
}
.header .header-tit{
    font-family: 'Abel', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 55px;
}
.header .header-tit h1{
    font-size: 30px;
    color: #FFF;
    background-color: #51b0dc;
    display: inline-block;
    padding: 5px 30px 5px 30px;
    letter-spacing: 2px;
    font-weight: 900;
    /* css변화하는 속도 제어 */
    transition: box-shadow 0.25s ease-in-out;
    /* ease-in-out: 부드럽게 들어가고 나가게 애니메이션 효과 처리 */

}
.header .header-tit h1:hover{
    box-shadow: 
        inset -9em 0 0 0 #257fac, /*오 → 왼*/
        inset 9em 0 0 0 #257fac; /*왼 → 오*/
        /* inset은 %가 먹히지 않아서, em(글자 수 대비)으로 처리할 수 있다. */
}
.header .header-tit a{
    font-size: 16px;
    color: #FFF;
    background-color: #4a9abf;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    margin-top: -7px;
    transition: box-shadow 0.25s ease;
}
.header .header-tit a:hover{
    box-shadow: 
    inset 0 0 0 5px rgba(75, 154, 191, 0.9),
    inset 0 0 0 100px rgba(0, 0, 0, 0.1);
}

.header .header-icon{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 45px;
}
.header .header-icon li{
    margin: 0 2px;
    display: inline;
}
.header .header-icon li a{
    /* li태그들을 (자동으로) 가로 정렬 하기 위해 inline으로 display 변경 */
    display: inline-block;
    background-color: #3192bf;
    /* 동그란 테두리 모양 형성 */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: #FFF;
    font-size: 35px;
    line-height: 60px;
    position: relative;

     /* hover시 색깔 활성화되는 속도 부드럽게 처리 */
     transition: all 0.3s ease;
}
.header .header-icon li a span{
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    /* 가운데 정렬하는 방법1
    position: absolute;
    left: 50%;
    transform: translateX(-50%); */

    font-size: 12px;
    line-height: 1.6;
    background-color: #3192bf;
    padding: 3px 9px;
    border-radius: 6px 0;

    /* 마우스 올리기 전에는 툴팁 안보이게 처리 */
    opacity: 0;

    /* 툴팁이 활성화되는 속도 부드럽게 처리 */
    transition: all 0.3s ease;


}
.header .header-icon li a span:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;

    margin-left: -5px;
    /* 삼각형 테두리 만들기 */
    border-top: 5px solid #3192bf;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.header .header-icon li a:hover span{
    /* 아이콘에 마우스 올렸을 때 툴팁이 노출되게 설정 */
    opacity: 1;
    top: -33px;
}

.header .header-icon li a:hover {
    box-shadow: 
    inset 0 0 0 3px rgba(75, 154, 191, 0.9),
    inset 0 0 0 100px rgba(0, 0, 0, 0.1);

}


/* 전체 메뉴 */
.nav{
    overflow: hidden;
    padding: 25px 0;

    display: none;
}
.nav > div{
    float: left;
    width: 40%;
}
.nav > div:last-child{
    width: 20%;
}
.nav > div ol{
    overflow: hidden;
}
.nav > div li{
    float: left;
    width: 50%;

    position: relative;
    padding-left: 8px;
    box-sizing: border-box;
}
.nav > div li:last-child{
    overflow: hidden;
}
.nav > div li:before{
    content: '';
    width: 3px;
    height: 3px;
    background: #25a2d0;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 6px;
}
.nav > div h3 {
    font-size: 18px;
    color: #25a2d0;
    font-weight: bold;
    margin-bottom: 4px;
}
.nav > div li a{
    position: relative;
}
.nav > div li a:after{
    content: "";
    /* 글씨 영역만 밑줄 표시 하기 위해 inline으로 display변경*/
    display: inline-block;

    /* 각 메뉴가 적혀있는 a태그에 밑줄 서식을 넣지지만, hover되기 전까지는 사용x */
    width: 0%;
    height: 1px;
    background-color: #25aad0;
    transition: all 0.2s ease-out;
    position: absolute;
    bottom: 0;
    left: 0;
}
/* 각 메뉴가 적혀있는 a태그에 hover되면 밑줄 서식 넣기 */
.nav > div li:hover a:after{
    width: 100%;
}

/* title */
.title{
    text-align: center;
    position: relative;
}
.title h2{
    font-family: 'Nanum Brush Script', cursive;
    font-size: 39px;
    color: #0093bd;
    padding: 5px 0;
}
.title .btn{
    position: absolute;
    right: 0;
    top: 5px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #3192bf;
    color: #FFF;
    /* fontasome의 아이콘은 모두 "font"이다.
    따라서 크기를 조정하고 싶으면 일반적인 글자의 font처럼 취급하면 된다. */
    font-size: 35px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.title .btn:hover{
    box-shadow: 
        inset 0 0 0 3px rgba(71, 154, 191, 0.9),
        inset 0 0 0 100px rgba(0, 0, 0, 0.3);
}


/* 미디어쿼리 */
/* 화면너비 0 ~ 1220px */
@media (max-width: 1220px){
    .container{
        width:100%;
    }
    .row{
        padding: 0 15px;
    }
    .title .btn{
        right: 5px;   
    }
}
/* 화면너비 0 ~ 1024px */
@media (max-width: 1024px){

}
/* 화면너비 0 ~ 960px */
@media (max-width: 960px){
    .nav > div{
        float: none;
        width: 100%;
    }
    .nav > div:last-child{
        float: none;
        width: 100%;
    }
    .nav > div li{
        width: 33.3333%;
    }
    .nav > div ol{
        margin-bottom: 10px;
    }
}
/* 화면너비 0 ~ 768px */
@media (max-width: 768px){

}
/* 화면너비 0 ~ 600px */
@media (max-width: 600px){
    .nav > div li{
        width: 50%;
    }
    .nav > div:last-child li{
        width: 50%;
    }
    .header .header-tit {
        display: none;
    }
    .header .header-icon{
        display: none;
    }
    /* 헤더 자체를 숨기기 때문에 header의 height 값을 깨는 기능 수행 */
    .header{
        height: auto; /*height&width 값 깨는 방법: auto로 설정*/
    }
    .title .btn{
        display: none;
    }

}
/* 화면너비 0 ~ 480px */
@media (max-width: 480px){

}
/* 화면너비 0 ~ 320px */
@media (max-width: 320px){
    .nav > div li{
        width: 100%;
    }
    .nav > div:last-child li{
        width: 100%;
    }
}