# : comments

# no .a files
#*.a

# but do track lib.a, even though you're ignoring .a files above
#!lib.a

# only ignore the TODO file in the current directory, not subdir/TODO
#/TODO

# ignore all files in the build/ directory
#build/

# ignore doc/notes.txt, but not doc/server/arch.txt
#doc/*.txt

# ignore all .pdf files in the doc/ directory
#doc/**/*.pdf



REACT공부/공식문서로 디테일 잡기/my-app/.vscode
REACT공부/공식문서로 디테일 잡기/my-app/node_modules
REACT공부/공식문서로 디테일 잡기/my-app/package.json
REACT공부/공식문서로 디테일 잡기/my-app/package-lock.json

#병합 충돌 방지를 위해 DB는 git upload 제외 처리
React-Django-test/db.sqlite3

#venv파일 제외
React-Django-test/venv/
