@charset "utf-8";

/* 스킵 네비게이션 */
#skip{
    position: relative;
}

#skip a{
    position: absolute;
    left: 0px;
    /* skip의 a태그가 활성화/포커싱되기 전까지 top-35px로 위치를 지정하여 화면에 표시되지 않도록 숨긴다. */
    top: -35px;/*0px;*/
    border: 1px solid #FFFFFF;
    background-color: #333;
    color: #FFF;
    line-height: 30px;
    width: 170px;
    text-align: center;
}

/* 해당 태그가 활성화 && 포커싱 되었을 때 */
#skip a:active, 
#skip a:focus{
    top:0;
}

/* 레이아웃 */
#wrap{
    /* width: 100%; */
}
#header{
    /* width: 100%;  */
    height: 325px; 
    /* background-color: #111; */
    background: url("../img/header_bg.jpg") center top repeat-x;
    /* 이미지를 가운데 위쪽 기준으로 x축으로 반복하여 화면에 랜더링한다. */
}
#contents{
    /* width: 100%;
    height: 800px;
    background-color: #222; */
}
#footer{
    /* width: 100%; */
    height: 200px;
    background-color: #333;
}

/* 컨텐츠 레이아웃 */
#cont_nav{
    /* width: 100%;
    height: 200px;
    background-color: #333; */
    background-color: #F6FDFF;
}
#cont_tit{
    background-color: #EAF7FD;
}
#cont_ban{
    /* width: 100%;
    height: 200px; */
    background-color: #dceff7; 
}
#cont_cont{
    width: 100%;
    height: 200px;
    background-color: #666;
}


/* 컨테이너 */
.container{
    width: 990px;
    margin: 0 auto;
    height: inherit;
    /* background-color: rgba(0,0,0,0.3); */
}


/* CSS에서도 각 클래스/아이디의 계층구조를 확인할 수 있도록 
상속관계를 나타내면 좋다. */
/* 해더 */
.header .header-menu{
    text-align: right;
}

/* 일반적으로 a태그를 포함한 inline태그는 영역이 없다.
따라서 정렬이 불가능하고, padding/margin처리를 해도 가로만 처리되고, 
세로값은 처리하지 못한다.
이때 그냥 display: block으로 바꾸면 block단위가 되어 모든 요소에 대해 정렬 속성이 또 필요하게 된다.
이럴 때 쉽게 사용하는 방법이 "display: inline-block"이다. */
.header .header-menu a{
    color: #FFF;
    padding: 10px 0px 10px 13px;
    display: inline-block;
}
.header .header-menu a:hover{
    color: #666;
}
.header .header-title {
    text-align: center;
}
.header .header-title h1{
    background-color: #4aa8d4;
    font-size: 28px;
    padding: 5px 20px 6px 20px;
    font-weight: normal;
    text-transform: uppercase;
    display: inline-block;
    color: #FFF;
    margin-top: 40px;
}
.header .header-title a{
    display: inline-block;
    background-color: #2698cb;
    font-size: 18px;
    color: #FFF;
    padding: 5px 20px 6px 20px;
    margin-top: -5px;
}

/* 해더 아이콘 */
.header .header-icon{
    text-align: center;
    margin-top: 30px;
}
.header .header-icon a{
    width: 60px;
    height: 60px;
    display: inline-block;
    background: url("../img/icon.png");
    margin: 3px;
}

.header .header-icon a.icon1{
    background-position: 0 0;
}
.header .header-icon a.icon2{
    background-position: 0 -60px;
}
.header .header-icon a.icon3{
    background-position: 0 -120px;
}
.header .header-icon a.icon4{
    background-position: 0 -180px;
}

.header .header-icon a.icon1:hover{
    background-position: -60px 0;
}
.header .header-icon a.icon2:hover{
    background-position: -60px -60px;
}
.header .header-icon a.icon3:hover{
    background-position: -60px -120px;
}
.header .header-icon a.icon4:hover{
    background-position: -60px -180px;
}

/* float: left로 인한 영역깨짐(height: 0) 방지법 
sol 1. 깨지는 영역에 똑같이 float: left를 사용(X) --> 모든 박스에 float:left를 사용해야 한다.
sol 2. float의 성질을 차단하는 clear: both;를 사용(X) --> 어떤 영역이 깨졌는 지 찾기 어렵다.
sol 3. float을 사용한 상위 박스ㅏㄴ테 overflow: hidden을 사용(그나마 이용) 
sol 4. clearfix를 사용(O) 
*/

/* 전체 메뉴 */
.nav{
    /* float: left; */
    overflow: hidden;
    padding: 30px 0px;
}

/* nav 클래스의 직계 div 자손만을 인식 */
.nav > div {
    float: left; 
    width: 40%;
}
.nav > div:last-child{  /*ie9 부터 사용가능 */
    width: 20%; 
}

.nav > div h3 {
    font-size: 18px; 
    color: #25a2d0;
    margin-bottom: 4px ;
}

.nav > div ol{
    overflow: hidden;
}
.nav > div ol li{
    float: left;
    width: 50%;
}
.nav > div.last ol li{
    width: 100%;
}
.nav > div ol li a:hover{
    text-decoration: underline;
}

/* 타이틀 */
.tit{
    position: relative;
}
.tit h2{
    font-size: 40px;
    text-align: center;
    padding: 5px 0;
    letter-spacing: 2px; /*글자 간의 간격 지정*/
    color: #2C94c4;
    font-family: 'Nanum Brush Script', cursive;
}
.tit .btn{
    position: absolute;
    top: 5px;
    right: 0;
    width: 60px;
    height: 60px;
    background: url("../img/icon.png") no-repeat 0 -600px;
}
.tit .btn:hover{
    background: url("../img/icon.png") no-repeat -60px -600px;
}
/* position: relative의 역할:
타 포지션 특히 absolute의 기준점이 되는 역할을 수행한다. */


/* 배너 */
.ban{
    position: relative;
    padding: 24px 0px;
}
.ban a.prev{
    position: absolute;
    left: -80px;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url("../img/icon.png") no-repeat -150px 0px;
}
.ban a.prev:hover{
    background-position: -193px 0px;
}
.ban a.next{
    position: absolute;
    right: -60px;
    top: 60px;
    width: 43px;
    height: 43px;
    background: url("../img/icon.png") no-repeat -150px -43px;
}
.ban a.next:hover{
    background-position: -193px -43px;
}
.ban ul{
    overflow: hidden;
}
.ban ul li{
    float: left;
    width: 330px;
}
.ban ul li:last-child{  /*ie9부터 적용가능*/
    text-align: right;
}
.ban ul li:nth-child(2){
    text-align: center;
}
.ban ul li img{
    display: block;
    border: 4px solid #dcdcdc;
}
.ban ul li img:hover{
    border-color: #98dcdc;
}