/***********공통 서식************/
body{
    text-align: center;
    align-items: center;
}

/*공통헤더 CSS*/
#mainHeader{
    width: 100%;
    height: 200px;

    text-align: center;
}

nav > table{
    width: 100%;
    height: 30px;
    background-color: #00B594;
    text-align: center;
    align-items: center;

    color: #FFFFFF;
    font-weight: bold;
}

section{
    padding-top: 20px;
    padding-bottom: 20px;

    padding-right: 200px;
}

/*공통푸터 CSS*/
footer{
    background-color: #F2F2F2;
}

/*링크 기능 공통 서식 */
#anchor{
    text-decoration: none;
    color: #FFFFFF;
}

#main_font{
    color:#00B594;
}

#black_font{
    color:black;
}

/***********main.html서식************/
/*main.html 의 티켓 */
#ticket_unchecked{
    width: 200px;
}

#ticket_checked{
    width: 200px;
}   

#ticket_unchecked_box{
    height: 150%;
}

#ticket_checked_box{
    height: 150%;
}

#ticket_unchecked_box:hover{
    box-shadow: 0 1em 1em #D2D2D2;
    border-radius: 10px;
}

#ticket_checked_box:hover{
    box-shadow: 0 1em 1em #D2D2D2;
    border-radius: 10px;
}



/*main.html carousel의 배치 용이성을 위해 flex 사용*/
.carouselContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
}

.carouselItem{
    flex-basis: 500px;
    flex-grow: 0;
}

/***********currentMovieList.html서식************/
.currentMovieList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /*align-items: stretch;*/
}

.currentMovieBlock{
    flex-grow: 0;
    margin: 20px;
}


/***********upcomingMovieList.html서식************/
.currentMovieList{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    /*align-items: stretch;*/
}

.currentMovieBlock{
    flex-grow: 0;
    margin: 20px;
}